/* GAME DISPLAY */

:root{
    --jsYellow: rgb(255, 239, 99);
}

/* score and timer display */

.score-display {
    display: flex;
    justify-content: space-between; 
    text-align: center;
    width: 50%;
    margin: auto;
    min-height: 7rem;
}

.score-display-item {
    margin: 2rem 0 1rem 0;
    text-align: center;
    color: var(--jsYellow);
    font-family: 'VT323', monospace;
}

.score-display-title {
    font-family: 'VT323', monospace;
    font-size: 2rem;
}

/* question display */

.question-container {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    margin: 0 2rem 2rem 2rem;
    width: 70%;
    margin: auto;
    color: rgb(26, 25, 25);
}

#questionText {
    margin: 2rem 0 2rem 0;
    color:  rgb(226, 226, 226);
    min-height: 3rem;
}

.choice-box {
    display: flex;
    background: linear-gradient(rgb(255, 239, 99), rgb(185, 174, 72));
    color: (26, 25, 25); 
    border-radius: 10px;
    width: 30%;
    min-width: 20rem;
    padding: 0.5rem;
    margin: 1rem;
}

.choice-box:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.choice-text {
    margin-right: 0.5rem;
    font-weight: 700;
    color: rgb(26, 25, 25);
}

/* MEDIA QUERIES */

/* Phones */
@media screen and (max-width: 535px) {
    .score-display {
        display: flex;
        justify-content: space-around;
        min-height: 6rem;
    }
    .choice-box {
        min-width: 14rem;
        text-align: center;
    }
    .choice-box {
        font-size: 1rem;
    }
    #score-display, .score-display-title, .score-display-item, #questionText {
        margin: 0.5rem;
    }
    #questionText, #choice-container {
        text-align: center;
        font-size: 1.25rem;
    }
    .question-container {
        width: 95%;
        margin: 0.5rem;
    }
}