/* GAME OVER AND SCORES DISPLAY */

:root{
    --jsYellow: rgb(255, 239, 99);
}

/* GAME OVER DISPLAY */

/* user score */

#end-score-container {
    padding: 0.25rem;
    margin-top: 2rem;
    display: block;
    text-align: center;
}

#end-score-title {
    font-family: 'VT323', monospace;
    font-size: 3rem;
    color: var(--jsYellow);
    padding: 0.5rem;
    margin-top: 0.5rem;
}

#end-score {
    color: white;
    font-size: 3rem;
    padding: 0.5rem;
}

/* submit name */

#input-container {
    padding: 0.25rem;
    margin-top: 2rem;
    display: block;
    text-align: center;
   }

#name-label {
    padding: 0.5rem;
}

#name-input {
    width: 3rem;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
}

#submit-button {
    text-decoration: none;
    font-family: 'VT323', monospace;
    color: rgb(26, 25, 25);
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(rgb(255, 239, 99), rgb(185, 174, 72));
    padding: 0.5rem;
    margin: 0.5rem;
    width: 8rem;
    border-radius: 10px;
}

/* recent scores */

#high-scores {
    height: 100vh;
    padding: 0.25rem;
    margin-top: 2rem;
    display: block;
    text-align: center;
}

h2 {
    font-family: 'VT323', monospace;
    font-size: 3rem;
    color: var(--jsYellow);
    padding: 2rem 2rem 1rem 2rem;
    margin-top: 2rem;
    display: block;
    text-align: center;
}

#high-score-list {
    min-height: 12rem;
}

.play-again-btn {
    text-decoration: none;
    font-family: 'VT323', monospace; 
    color: rgb(26, 25, 25);
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(rgb(255, 239, 99), rgb(185, 174, 72));
    padding: 0.5rem;
    width: 8rem;
    border-radius: 10px;
}

#button-container {
    margin: 2rem;
}

table {
    padding: 1rem;
    margin: 0 auto;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
}

th {
    text-align: center;
    padding: 0.5rem;
    color: var(--jsYellow);
}

/* MEDIA QUERIES */

/* Phones */
@media screen and (max-width: 500px) {
h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}
table {
    width: 50%;
    height: 50%;
}
th, tr {
    font-size: 1rem;
}
}